<?xml version="1.0" encoding="UTF-8"?>
<beans
	xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:context="http://www.springframework.org/schema/context" xmlns="http://www.springframework.org/schema/beans">
	<!-- Configures the location of static resources such as css files. Requires 
		Spring Framework 3.0 or higher. -->

	<import resource="infrastructure.xml" />
	
	<mvc:annotation-driven />
	
	<context:component-scan base-package="controller, service, repository" />
    <!-- Configures Spring Data JPA and sets the base package of my DAOs. -->
	<jpa:repositories base-package="repository" />
</beans>